---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import profile from "../../public/profile.png";
import Social from "../components/Social.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet"
    /></head
  >

  <body>
    <Header title={SITE_TITLE} />
    <h1 class="text-3xl p-5"></h1>
    <section class="p-5">
      <h1 class="mb-2 title">Luis Fernando CS 🚀</h1>
      <div class="mb-4 flex items-center justify-between">
        <p class="mr-8">
          Student at Engineer - Microsoft Learn Student Ambassadors - Lead at
          Podcast MLSA Latinoamerica, #JavaScript #React #UI/UX #Azure #Python
        </p>
        <figure>
          <img
            class="rounded-lg w-48"
            src={profile}
            alt="Oscar Barajas Tavares"
            width="48"
            height="48"
          />
        </figure>
      </div>
      <Social />
    </section>
    <main>
      <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template. This template serves as a lightweight, minimally-styled starting
        point for anyone looking to build a personal website, blog, or portfolio
        with Astro.
      </p>
    </main>
    <Footer />
  </body>
</html>
