---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import profile from "../../public/profile.png";
import Social from "../components/Social.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet"
    /></head
  >

  <body>
    <Header title={SITE_TITLE} />
    <h1 class="text-3xl p-5"></h1>
    <section class="p-5">
      <h1 class="mb-2 title">Luis Fernando CS 🚀</h1>
      <div class="mb-4 flex items-center justify-between">
        <p class="mr-8">
          Student at Engineer - Microsoft Learn Student Ambassadors - Lead at
          Podcast MLSA Latinoamerica, #JavaScript #React #UI/UX #Azure #Python
        </p>
        <figure>
          <img
            class="rounded-lg w-48"
            src={profile}
            alt="Oscar Barajas Tavares"
            width="48"
            height="48"
          />
        </figure>
      </div>
      <Social />
    </section>
    <main>
      <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template. This template serves as a lightweight, minimally-styled starting
        point for anyone looking to build a personal website, blog, or portfolio
        with Astro.
      </p>
      <p>
        This template comes with a few integrations already configured in your
        <code>astro.config.mjs</code> file. You can customize your setup with
        <a href="https://astro.build/integrations">Astro Integrations</a> to add
        tools like Tailwind, React, or Vue to your project.
      </p>
      <p>Here are a few ideas on how to get started with the template:</p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
        <li>
          Edit the site header items in <code>src/components/Header.astro</code>
        </li>
        <li>
          Add your name to the footer in <code>src/components/Footer.astro</code
          >
        </li>
        <li>
          Check out the included blog posts in <code>src/pages/blog/</code>
        </li>
        <li>
          Customize the blog post page layout in <code
            >src/layouts/BlogPost.astro</code
          >
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to <a
          href="https://docs.astro.build/"
          >read the docs
        </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
        questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out <a
          href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template
        </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
